#requireResource("confluence.web.resources:jquery")
#requireResource("com.plugin.space.reportmacro:spacestatus-resources")

<input type="button" id="button" value="button"/>
<div id="box">
	<dl class="mydl">       
		<dt class="mydt">xxxxx</dt>   
		      <dd>aaaaaaaaaaaaa</dd>         
		      <dd>aaaaaaaaaaaaa</dd>         
		      <dd>aaaaaaaaaaaaa</dd>         
		      <dd>aaaaaaaaaaaaa</dd>         
		      <dd>aaaaaaaaaaaaa</dd>         
		      <dd>aaaaaaaaaaaaa</dd>     
	</dl>  
	<dl class="mydl">       
		<dt class="mydt">bbb</dt>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>     
	</dl>  
	<dl class="mydl">       
		<dt class="mydt">ccc</dt>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>         
		<dd>aaaaaaaaaaaaa</dd>     
	</dl>   
</div>

## Macro title: Space Status Macro
## Macro has a body: Y or N (Y)
## Body processing: Selected body processing option
## Output: Selected output option
##
## Developed by: Ma Hao
## Date created: 09/10/2013
## Installed by: <your name>

## Macro to display information such as number of pages, number of blog posts, attachment size, etc. about a Space. 

## @noparams
###set($spaceManager=$containerContext.getComponent('spaceManager'))
##set($pageManager=$containerContext.getComponent('pageManager'))
##set($attachmentManager=$containerContext.getComponent('attachmentManager'))
## Get space details
#set ( $targetSpace = $spaceManager.getSpace($space))
#set ( $spaceName = $targetSpace.getName() )
#set ( $spaceKey = $targetSpace.getKey() )
#set ( $spaceHome = $targetSpace.getHomePage() )
#set ( $spaceCreator = $targetSpace.getCreatorName() )
#set ( $spaceCreationDate = $targetSpace.getCreationDate() )
#set ( $spaceDescription =$targetSpace.getDescription() )
#set ( $pageCount = $pageManager.getPages($targetSpace,true).size() )
#set ( $blogCount = $pageManager.getBlogPosts($targetSpace,true).size() )

## Get all pages in the current Space
#set ( $allPagesInSpace = $pageManager.getPages($targetSpace, true) )

## Reset total attachment file size
#set ( $totalAttachmentFileSizeForSpace = 0 )

## Reset total number of attachments
#set ( $totalAttachmentCount = 0 )

## Loop through all pages in the current Space
#foreach ($page in $allPagesInSpace)
  ## reset the attachment count for each page
  #set ( $pageAttachmentCount = 0 )
  ## reset the attachment file size total for each page
  #set ( $totalFileSizePerPage = 0 )
  ## get the attachments for each page
  #set ( $allAttachments = $attachmentManager.getAttachments($page))
  ## Loop through each attachment
  #foreach ($attachment in $allAttachments)
    ## Increment the attachment count for the page
    #set ( $pageAttachmentCount = $pageAttachmentCount + 1 )
    ## Sum the size of the attachments on the page
    #set ( $totalFileSizePerPage = $totalFileSizePerPage + $attachment.getFileSize() )
  #end
  ## End looping through attachments
  ## Increment total attachment count for the current Space
  #set ( $totalAttachmentCount = $totalAttachmentCount + $pageAttachmentCount )
  ## Sum the total size of attachments for the current Space
  #set ( $totalAttachmentFileSizeForSpace = $totalAttachmentFileSizeForSpace + $totalFileSizePerPage )
#end
## End looping through pages

## Convert attachment size to MBs
#set ( $attachmentSizeMb = ($totalAttachmentFileSizeForSpace / 1024.00) / 1024.00 )

## Display Space Details
<h2>Space Information</h2>
<table class="confluenceTable">
  <tbody>
    <tr>
      <th class="confluenceTh">Name</th>
      <td class="confluenceTd">$spaceName</td>
    </tr>
    <tr>
      <th class="confluenceTh">Key</th>
      <td class="confluenceTd">$spaceKey</td>
    </tr>
    <tr>
      <th class="confluenceTh">Description</th>
      <td class="confluenceTd">$spaceDescription.getBodyAsString()</td>
    </tr>
    <tr>
      <th class="confluenceTh">Home Page</th>
      <td class="confluenceTd">#contentLink2($spaceHome true false)</td>
    </tr>
    <tr>
      <th class="confluenceTh">Created By</th>
      <td class="confluenceTd">#usernameLink($spaceCreator) ($action.dateFormatter.formatDateTime($spaceCreationDate))</td>
    </tr>
    <tr>
      <th class="confluenceTh">Number of Pages</th>
      <td class="confluenceTd">$pageCount</td>
    </tr>
    <tr>
      <th class="confluenceTh">Number of Blog Posts</th>
      <td class="confluenceTd">$blogCount</td>
    </tr>
    <tr>
      <th class="confluenceTh">Number of Attachments</th>
      <td class="confluenceTd">$totalAttachmentCount (including all versions)</td>
    </tr>
    <tr>
      <th class="confluenceTh">Total Size of Attachments</th>
      <td class="confluenceTd">$attachmentSizeMb MB</td>
    </tr>
  </tbody>
</table>

#set( $Map = {})

#macro(createTree  $allPagesInSpace)
#foreach ($page in $allPagesInSpace)
  #set ( $Title = $page.getTitle())
<li><span>&nbsp;$Title</span>
 #set($user=$page.getCreatorName())
#if($Map.get($user))

#set($newn=$Map.get($user)+1)
#set($test=$Map.put($user,$newn))
#else
#set($test=$Map.put($user,1))
#end


#if ($page.hasChildren())
#set ( $Children= $page.getChildren() )
<span> (  $page.getDescendents().size() )</span>
<ul>
#createTree($Children)
</ul>
</li>
#else
<span> ( 0 )</span>
#end
#end
#end

<h2>Page Tree</h2>
<table class="confluenceTable">
  <tbody>
    <tr><td class="confluenceTd">
<ul>
#createTree($spaceHome.getChildren())
</ul>
</td>
    </tr>
  </tbody>
</table>


#set($stop=0)

#macro (sortit $Map)
#set($stop=$stop+1)
#foreach ($p in $Map.keySet())
#set($r=0)
#foreach ($v in $Map.keySet())
#if($Map.get($p)<$Map.get($v))
#break
#else
#set($r=$r+1)
#end
#end
#if($r==$Map.size()&& $Map.get($p)>0)
<tr>
<td class="confluenceTd">
$p
</td>
<td class="confluenceTd">
$Map.get($p)
</td>
</tr>
#set($test=$Map.put($p,0))
#break
#end
#end
#if($stop<5)
#sortit($Map)
#end
#end
 <h2>Author List(Top 5)</h2>
<table class="confluenceTable">
  <tbody>
    <tr>
      <th class="confluenceTh">Name</th>
      <th class="confluenceTh">PageNumber</td>
    </tr>
#sortit($Map)
 </tbody>
</table>